NEXT_PUBLIC_API_URL=https://storynest.onrender.com
API_URL=https://storynest.onrender.com

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxx
NEST_PLUS_AMOUNT=1000000
NEST_PLUS_CURRENCY=NGN

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_FOLDER=storynest/covers
