# --- BACKEND ---
PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/storynest?schema=public"
JWT_ACCESS_SECRET="your_jwt_access_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"

# Cloudinary (for cover images)
CLOUDINARY_CLOUD_NAME="dyczorcox"
CLOUDINARY_API_KEY="743362958243456"
CLOUDINARY_API_SECRET="6JM_BQAV6kB-HAd_eb8syIDiqT0"

# Google Auth (for social login)
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# --- MOBILE ---
# Android: http://10.0.2.2:5000, iOS: http://localhost:5000
EXPO_PUBLIC_API_URL="http://localhost:5000"



PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_29yZKAURimoh@ep-plain-river-appn0amq-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_ACCESS_SECRET="STORYNEST_ACCESS_ZHVhLTMxLTkwLWV0LWFs"
JWT_REFRESH_SECRET="STORYNEST_REFRESH_MjMtYmUtODktamEtbGU="
CLOUDINARY_CLOUD_NAME="dyczorcox"
CLOUDINARY_API_KEY="743362958243456"
CLOUDINARY_API_SECRET="6JM_BQAV6kB-HAd_eb8syIDiqT0"
GOOGLE_CLIENT_ID="564839035602-4704jm195dn39rlefq2fjc0u32ibehnd.apps.googleusercontent.com"
